In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib.inline

UsageError: Line magic function `%matplotlib.inline` not found.

In [7]:
train_df = pd.read_csv('pa3_train_reduced.csv',names=[str(x) for x in range(101)],index_col=False)
X = train_df.iloc[:,:]
X["index"] = np.array(range(X.shape[0]))[:np.newaxis]

In [8]:
debug = 0

In [9]:
train_df.shape

(4888, 102)

In [10]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,index
0,5,-252.5092,1040.6188,-310.8433,-470.0898,-166.3477,330.8560,-108.7784,-175.5801,-260.2999,...,-141.7645,-78.5002,-49.8887,20.5103,-76.4562,-25.1281,-21.6094,-32.6020,25.6190,0
1,5,-684.5502,-368.7191,-288.2767,-429.0820,279.5500,277.4358,433.0551,324.3357,-244.7808,...,11.3478,-47.5631,-15.8404,25.0016,-29.7523,58.7726,-36.3467,26.6937,-17.5640,1
2,3,119.2934,638.9885,480.5071,-56.4139,268.1087,877.3390,144.2621,211.2293,-105.4375,...,31.8160,43.4647,29.9262,25.9335,37.2404,31.1867,14.7913,48.7926,-94.5664,2
3,5,992.5711,-204.1036,527.5170,-27.3539,-274.9326,-332.5300,-384.0204,198.4980,-92.0866,...,-16.4719,-103.3384,-15.5614,-71.7062,79.4549,-75.4443,-18.7221,76.8132,-11.6647,3
4,3,-750.9831,-11.7291,461.3095,128.3521,-335.1824,129.9351,191.3054,265.0773,265.4485,...,90.5645,-117.8963,78.7388,9.7614,-8.5616,-13.3530,-13.5420,-59.0314,-2.5690,4

In [24]:
class node:
    def __init__(self):
        self.left = None
        self.right = None
        self.feature = None
        self.value = None
        self.number = None
        self.count = None
        self.indices = None

In [25]:
def calc_gini(k,total_count_3,total_count_5,till_now,x,UA):
    last_k = till_now[0]
    count_3_left = till_now[1]
    count_5_left = till_now[2]
    
    extra_5 = sum(x['c_5'][last_k:k])
    extra_3 = k-last_k - extra_5
    
    count_3_left += extra_3
    count_5_left += extra_5
    
    count_3_right = total_count_3 - count_3_left
    count_5_right = total_count_5 - count_5_left
    
    
    if debug==1:
        print(till_now,k)
    
    pa_3_left = count_3_left/(count_5_left+count_3_left)
    pa_5_left = count_5_left/(count_5_left+count_3_left)
    gini_left = 1-(pa_3_left*pa_3_left) - (pa_5_left*pa_5_left)
    
    pa_3_right = count_3_right/(count_5_right+count_3_right)
    pa_5_right = count_5_right/(count_5_right+count_3_right)
    gini_right = 1 -(pa_3_right*pa_3_right) - (pa_5_right*pa_5_right)
    
    prob_left = (count_3_left+count_5_left)/(total_count_3+total_count_5)
    prob_right = (count_3_right+count_5_right)/(total_count_3+total_count_5)
    
    benefit = UA - prob_left*gini_left - prob_right*gini_right
    if debug==1:
        print("UA=",UA,"prob left=",prob_left,"gini_left=",gini_left,"prob_right=",prob_right,"gini_right=",gini_right)
        print("total_count_5","total_count_3","count_5_left","count_3_left","count_5_right","count_3_right")
        print(total_count_5,total_count_3,count_5_left,count_3_left,count_5_right,count_3_right)
    till_now[0] = k
    till_now[1] = count_3_left
    till_now[2] = count_5_left
    
    if debug==1:
        print(till_now)
    if(UA>1):
        print("higher",UA,benefit)
    return benefit
def find_best_split_for_feature(X,ind):
    x = X[["0",ind,"index"]].sort_values(by=ind)
    x['x_index'] = range(x.shape[0])
    x.index = range(x.shape[0])
    total = x.shape[0]
    
   
    
    count_3 = x["0"].value_counts().sort_values().loc[3]
    count_5 = total - count_3
    
    if debug==1:
        print(x.shape)
        print(count_5,count_3)
        print(x["0"].value_counts().sort_values())
    till_now = list((0,0,0))
    
    p_3 = count_3/total
    p_5 = count_5/total
    UA = 1-(p_3*p_3)-(p_5*p_5)
    if debug ==1:
        print("UA=",UA)
    
    x['c_5'] = x["0"].apply(lambda k : 1 if k==5 else 0)
    if debug ==1:
        print(x)
        print(x["0"].value_counts().sort_values())
        print(count_3,count_5)
        print(till_now)
    x['gini'] = x['x_index'].apply(
                lambda k : calc_gini(k,count_3,count_5,till_now,x,UA) if k!=0 and  x['c_5'][k-1]!=x['c_5'][k] else 0)
    index_for_feature = x['gini'].idxmax()+1
    left = x['index'][:index_for_feature]
    right = x['index'][index_for_feature:]
    if debug ==1:
        print(x['gini'].value_counts())
        print(x['gini'].max(),x['gini'].idxmax(),till_now[1],till_now[2])
    return x['gini'].max(),left,right , x[ind][x['gini'].idxmax()]
    #print(x['gini'])
    #print(x.head(30))

In [38]:
import time
def dfs(X):
    
    root = node()
    root.left = node()
    root.right = node()
    left = None
    right = None
    gini = -1
    feature = None
    value = None
    for k in range(1,100):
        g,l,r,v = find_best_split_for_feature(X,str(k))
        if g > gini:
            left = l
            right =  r
            gini = g
            feature = k
            value=v
        if((k%10)==0 and debug==1):
            print("done for k=",k/10)
            
    #print(len(left),len(right),feature,gini)
    root.feature = feature
    root.value = value
    root.indices = X.index
    root.number = None
    if sum(X.loc[left]['0'].value_counts().index)==8:
        #print("left called")
        root.left = dfs(X.loc[left])
    else:
        root.left.number = 5 if 3 not in X.loc[left]['0'].value_counts().index else 3
        root.left.count = X.loc[left].shape[0]
    if sum(X.loc[right]['0'].value_counts().index)==8:
        #print("right called")
        root.right = dfs(X.loc[right])
    else:
        root.right.number = 5 if 3 not in X.loc[right]['0'].value_counts().index else 3
        root.right.count = X.loc[right].shape[0]
    return root

In [39]:
import time
a = time.clock()
root=dfs(X.iloc[3000:,:],X)
print(time.clock()-a)

TypeError: dfs() missing 1 required positional argument: 'X'

In [35]:
sum(X['0'].value_counts().index)

8

In [36]:
def find_depth(root):
    if root.feature==None:
        return root.count
    else:
        return find_depth(root.left)+find_depth(root.right)
print(find_depth(root))

1888

In [19]:
def calculate_accuracy(row,r=root):
    if r.feature==None:
        return r.count 
    if row[r.feature]<=r.value:
        return calculate_accuracy(row,r.left)
    else:
        return calculate_accuracy(row,r.right)
    
#accuracy = X.apply(calculate_accuracy ,axis=1)
accuracy = 0
for k in range(X.shape[0]):
    accuracy +=calculate_accuracy(X.iloc[k,:],root)
print(accuracy/X.shape[0])

1.0

In [33]:
np.mean(accuracy)

0.9684942716857611

In [42]:
X.loc[range(5,10)].head()

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,index
5,5,721.6589,-304.2447,864.9610,260.3393,-187.8024,-606.0203,88.1427,-153.2440,-46.0256,...,68.7016,59.6587,72.7935,62.4015,-11.3711,-83.8252,-22.4654,20.8556,-69.0412,5
6,5,583.1599,-153.0165,-900.8113,-290.6844,333.2730,-402.8474,-486.8830,389.7087,9.8926,...,11.2985,1.9106,-29.3527,20.5039,50.8934,-47.7642,-34.2638,59.8347,44.2944,6
7,5,972.0162,77.9232,-314.5349,-348.0400,35.6860,275.9531,-130.1125,214.4291,-308.0340,...,83.9535,-67.8575,-48.6127,-123.2136,22.5735,-56.7396,-35.5166,-16.6162,-43.1298,7
8,5,-255.5209,144.6523,-438.1271,-861.6966,613.9399,130.5816,291.0711,-405.3399,-39.0060,...,46.0839,-140.2752,42.9264,12.9228,-62.4800,-1.4205,75.5720,34.6369,24.2973,8
9,3,217.1434,592.4619,242.7806,658.7916,67.4887,228.3211,308.6035,120.0588,73.0003,...,-41.0147,50.1359,-65.1648,43.4451,-19.7029,-11.5231,-25.7318,55.1806,4.9309,9

In [50]:
pd.Series(data=np.array([0,1,1,1,2,3,3])).iloc[::-1].idxmax()

6

In [52]:
np.array(range(1,10))[:10]

array([1, 2, 3, 4, 5, 6, 7, 8, 9])